/*
  1. inline block with vertical-align: top
  2. flex with justify-content: center
*/

.page {
  border: 1px solid red;
}

.column {
  border: 1px solid blue;
  display: inline-block;
  width: 30%;
}

img {
  width: 50px;
}

.caption {
  font-weight: bold;
  font-family:sans-serif;
}
